<%- include("partials/header") %>

<body>

  <div class="nav">
    <a href="./#time"> time </a>
    <a href="./#name"> name </a>
    <a href="./#footer"> footer </a>
  </div>


 <div class="hub">
   <div class="text">
     <h1>INDIA</h1>
   </div>
   <div class="FG">
     <img src="./assets/TJ-FG.png" alt="" />
     <div class="grad"></div>
   </div>

   <div class="BG">
     <img src="./assets/TJ-BG.png" alt="" />
   </div>
 </div>

 <div class="time" id="time">
   <h3>Time in India</h3>
   <h6><%= time %></h6>
   <p>+05:30</p>
  </div>
  
<div class="name" id="name">
  <h1>States and Union Territories</h1>
</div>

 <div class="explore">
  <% data.forEach(element => { %>
      <!-- <%= element.name %> -->
      <div class="container">
       <img src="<%= element.imageURL %>" alt="<%= element.name %>-<%= element.code %>-img" class="image">
       <a href="/<%= element.code %>">
       <div class="overlay">
           <div class="state"><%= element.name %></div>
         </div>
       </a>
     </div>
  <% }) %>
 </div>


 <%- include("partials/script") %>

</body>

<%- include("partials/footer") %>